@keyframes glowing {
    0% {box-shadow: 0 0 15px #fca5a5;}
    5.88% {box-shadow: 0 0 15px #fdba74;}
    11.76% {box-shadow: 0 0 15px #fcd34d;}
    17.64% {box-shadow: 0 0 15px #fde047;}
    23.52% {box-shadow: 0 0 15px #bef264;}
    29.40% {box-shadow: 0 0 15px #86efac;}
    35.28% {box-shadow: 0 0 15px #86efac;}
    41.16% {box-shadow: 0 0 15px #6ee7b7;}
    47.04% {box-shadow: 0 0 15px #5eead4;}
    52.92% {box-shadow: 0 0 15px #67e8f9;}
    58.80% {box-shadow: 0 0 15px #7dd3fc;}
    64.68% {box-shadow: 0 0 15px #93c5fd;}
    70.56% {box-shadow: 0 0 15px #a5b4fc;}
    76.44% {box-shadow: 0 0 15px #c4b5fd;}
    82.32% {box-shadow: 0 0 15px #d8b4fe;}
    88.20% {box-shadow: 0 0 15px #f0abfc;}
    94.08% {box-shadow: 0 0 15px #f9a8d4;}
    100% {box-shadow: 0 0 15px #fda4af;}
  }

.scale-on-hover {
    transition: transform 0.3s ease-in-out; /* Suave */
    transform: scale(1); /* Tamanho inicial */
}

.scale-on-hover:hover {
    transform: scale(1.2); /* Cresce no hover */
}

/* Classe para o efeito de brilho */
.glowing:hover{
    animation: glowing 1.5s infinite;
}